<app-bread-crumb
[items]="[{text: 'Categories', link: '/categories'},{text: pageTitle}]">
</app-bread-crumb>

<app-page-header [pageTitle]="pageTitle" buttonLink="/categories" buttonClass="btn-light" buttonText=" << back" >
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()" >
  <app-server-error-message [serverErrorMessages]="serverErrorMessages" ></app-server-error-message>

  <div class="card">
    <div class="card-header">Information about category</div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name:</label>
          <input type="text" class="form-control" formControlName="name" id="name">
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>
        <div class="form-group col-md-8">
            <label for="description">Description:</label>
            <input type="text" class="form-control" formControlName="description" id="description">
            <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
          </div>
      </div>
    </div>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-lg btn-primary mt-3">Save</button>
</form>
