<app-bread-crumb [items]="[{text: 'Entries', link: '/entries'},{text: pageTitle}]">
</app-bread-crumb>
<app-page-header [pageTitle]="pageTitle" buttonLink="/entries" buttonClass="btn-light" buttonText=" << back">
</app-page-header>

<app-server-error-message [serverErrorMessages]="serverErrorMessages"></app-server-error-message>
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Information about entry</div>
    <div class="card-body">

      <div class="form-row">

        <!-- Type -->
        <div class="form-group col-md-2">
          <label for="type">Type:</label>
          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [value]="option.value">
              {{ option.text }}
            </option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched">
            <div *ngIf="resourceForm.get('type').errors.required">Type is required</div>
          </div>
        </div>


        <div class="form-group col-md-6">
          <label for="name">Entry:</label>
          <input type="text" class="form-control" formControlName="name" id="name">
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>

        <!-- amount -->
        <div class="form-group col-md-2">
          <label for="amount">Amount:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount"
              formControlName="amount">
          </div>

          <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>
        </div>

        <!-- date -->
        <div class="form-group col-md-2">
          <label for="date">Date:</label>
          <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dataType="string"
            dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
          </p-calendar>
          <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="paid">Payment status</label>
          <div class="btn-group">
            <label (click)="resourceForm.get('paid').setValue(true)"
              [class.active]="resourceForm.get('paid').value === true" class="btn btn-outline-info">
              Paid
            </label>
            <label (click)="resourceForm.get('paid').setValue(false)"
              [class.active]="resourceForm.get('paid').value === false" class="btn btn-outline-info">
              Pending
            </label>
          </div>
          <app-form-field-error [form-control]="resourceForm.get('paid')"></app-form-field-error>
        </div>

        <!-- Category -->
        <div class="form-group col-md-2">
          <label for="categoryId">Category:</label>
          <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>
        </div>
        <div class="form-group col-md">
          <label for="description">Description:</label>
          <input type="text" class="form-control" formControlName="description" id="description">
          <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-lg btn-primary mt-3">Save</button>
</form>
